@font-face {
  font-family: "Fuse Regular";
  src: url("../assets/fonts/Fuse\ V.2\ Display/FuseV.2Display-Regular.otf");
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Fuse Regular";
}

body {
  background: radial-gradient(
    77.53% 55.2% at 57.12% 53.86%,
    #2b2d30 0.13%,
    #171b1c 100%
  );
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 32px 116px;
  background: rgba(255, 255, 255, 0.05);
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 244px;
}

.button {
  outline: none;
  background-color: transparent;
  padding: 8px 12px;
  border: none;
  border-radius: 30px;
}

.colored {
  background: #44c79b;
}

.button a {
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  text-decoration: none;
}

.account {
  display: flex;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 30px;
  padding: 8px 12px;
}

.account-text,
.account-money,
.value {
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.account-money {
  margin-left: 16px;
  font-weight: bold;
}

main {
  display: flex;
}

.transactions {
  padding: 32px 0px 0px 116px;
  border-right: 1px solid rgba(255, 255, 255, 0.05);
  width: 60%;
}

.title,
.calculator-title {
  font-weight: 800;
  font-size: 24px;
  line-height: 60px;
  color: white;
  margin-bottom: 32px;
}

.transaction {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  padding: 24px 0px 27px;
  margin-bottom: 24px;
  width: calc(100% - 40px);
}

.first-transaction {
  padding-top: 0;
}

.card-image {
  border-radius: 50%;
  margin: 0px 22.25px;
}

.info1 {
  display: flex;
}

.info2 {
  display: flex;
  margin-top: 4px;
  color: #bfbfbf;
}

.card-text {
  font-family: Fuse Regular;
  font-size: 12px;
  line-height: 120%;
  color: #bfbfbf;
}

.card-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 120%;
  color: #ffffff;
  margin-bottom: 16px;
}

.card-time,
.card-date {
  font-size: 16px;
  line-height: 120%;
  color: #bfbfbf;
}

.card-date {
  margin-left: 24px;
}

.card-money {
  font-size: 16px;
  line-height: 120%;
  color: #bfbfbf;
  margin-bottom: 12px;
}

.green {
  color: #00ec42;
}

.red {
  color: #ff2e2e;
}

.last-card {
  margin-bottom: 100px;
}

.calculator {
  padding: 32px 116px 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.calculator-title {
  align-self: flex-start;
}

.input-container {
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin-bottom: 24px;
}

.input {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  padding: 15px;
  margin-left: 24px;
  width: 440px;
  outline: none;
}

.value {
  width: 220px;
}

.calculator-button {
  background: #44c79b;
  border-radius: 8px;
  padding: 18px 32px;
  font-family: Fuse Regular;
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 40px;
  display: flex;
  align-items: center;
}
